*{
	margin: 0;
	padding: 0;
}

body{
	
}

/*
COL (< 575) //Celular //En algunos casos XS //XS significa extra pequeño (en español)
SM (576 - 767) //Smort //Celular //Pequeño
MD (768 - 991) //Tablet //abieración //Mediano
LG (992 - 1199)//Monitores antiguos o tables de alta resolución //Largo
XL (1200 > )//Monitores grande de escritorio o laptop //Extra largo
*/

/* EN SM mi teléfono no le da */


@media screen and (min-width: 0) and (max-width: 767px){ 

.cuerpo{
	height: 100vh;
	widows: 100%;
	background: #C93232;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 1px solid blue;
}

.cuerpo-central{
	width: 70%;
	height: 80vh;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 1px 20px rgb(40, 30, 70);
	border-radius: 5px;
	flex-direction: column;
}

input{
	padding: 10px 15px;
	outline: 2px solid blue;
	font-size: 20px;
	border: none;
	margin-bottom: 15px;
}

input::placeholder{
	
	font-size: 22px;

}

input:hover{
	outline: 2px solid blue;
}

button{
	width: 150px;
	height: 35px;
	outline: 2px solid blue;
	border: none;
	font-size: 22px;
	background: #C5C5C5;
}

button:hover{
	background: #D9D9D9;
	cursor: pointer;

}

button::active{
	background: #D9D9D9;
}

button:focus{
	background: #D9D9D9;
}

}